#myDataTable_length, .form-label, #myDataTable_filter  {
  color: var(--light-color);
}

h1{
  color: var(--text-color);
}

h3{
  color: var(--light-color);
}

body {
  padding-top: 8.5vh;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* icons */
.fa-linkedin{
  color:#FFFFFF;
}

.fa-github{
  color:#FFFFFF;
}

.profil-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profil-image-border {
  border: 3px solid var(--primary-color);
}

/* posts */
.blog-post {
  color: var(--dark-color);
  background-color: var(--light-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid var(--dark-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post:hover {
  border-color: var(--bright-color);
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
}

.blog-post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.blog-post-tagline {
  font-style: italic;
  color: #666666;
  margin-bottom: 10px;
}

.blog-post-content {
  line-height: 1.6;
  margin-bottom: 20px;
  max-height: 20vh;
  overflow: hidden;
}

.blog-post-meta {
  font-size: 14px;
  color: #999999;
}
/* .blog-post-meta em {
  text-decoration: none;
  color: inherit;
} */
.blog-post-meta a {
  text-decoration: none;
  color: #007bff;
}

.blog-post-meta a:hover {
  text-decoration: underline;
}

.card-link,
.card-link em {
    text-decoration: none;
    color: inherit;
}

/* comment card */
.comment-card{
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}
.comment-card.even {
align-self: flex-end;
margin-right: 20px;
}

.comment-card.odd {
  align-self: flex-start;
  margin-left: 20px;
}

.container-cards {
  width: auto;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* color set */

.background-color {
  background-color: #051622;
}

.bg-dark-custom{
  background-color: var(--dark-color);
}

.bg-light-custom{
  background-color: var(--light-color);
}

.third-color {
  color:var(--dark-color);
  }

p, .txt-primary-color {
  color:var(--primary-color);
}

.txt-secondary-color {
  color: var(--light-color);
}

.bg-secondary-color{
  background-color: var(--light-color);
}

.bg-primary-color{
  background-color: var(--primary-color);
}

.contrast-color{
  color: #F06C9B;
}

.bg-color-white{
  background-color: var(--bs-body-bg);
}

/* Definition custom variables  */
:root {
  /* Couleurs principales */
  --primary-color: #1BA098;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #DEB992;
  --dark-color: #6F6866;
  --bright-color: #F06C9B;

  /* Autres couleurs */
  --text-color: #1BA098;
  --background-color: #051622;

  /* */
  /* --bs-nav-link-hover-color:#DEB992; */
  --nav-link-hover-color: #DEB992;
}

/* Utilisation des variables pour personnaliser Bootstrap */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* Utilisation des variables pour personnaliser d'autres composants Bootstrap */
.card {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.form-link {
  color: var(--text-color);
}

.form-link:hover{
  font-weight: bold;
}

.custom-divider {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid var(--dark-color);
}

.alert-custom {
  display: inline-block;
  inline-size: auto;
  min-width: 60vw;
  padding: 10px 5px 10px 5px;
  margin: 10px 20px 10px 20px;
}

.alert-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
