{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card mt-5">
					<div class="card-header">
						<h1 class="card-title text-center">Erreurs</h1>
					</div>
					<div class="card-body">
						<ul class="list-group">
							{% for field, error in errors %}
								<li class="list-group-item">{{ error }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
