{% extends 'base.html.twig' %}

{% block title %}homepage{% endblock %}

{% block style %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <section class="presentation container d-flex flex-column align-items-center ">
    <img class="profil-image profil-image-border" src="https://media.licdn.com/dms/image/C4D03AQEgxSkEJmko9A/profile-displayphoto-shrink_800_800/0/1537731189034?e=1712793600&v=beta&t=RGMpFAxoa4FPk6e5EZ21AKIyMY9dvZMYltxfT0LZ6Q4" alt="profil picture">
    <div class="text-center">
      <p><strong>VANDERMEERSCH Sylvain</strong></p>
      <p>Le Web Developpeur qui prone le besoin client avant tout!</p>
      <a href="mailto:<EMAIL>"><EMAIL>lien CV en PDF</a>
    </div>
  </section>

  <section class="contact-form container">

  </section>

  <section class="links container">

  </section>

{% endblock %}

{% block modal %}
  {{ parent() }}
{% endblock %}

{% block js %}
  {{ parent() }}
{% endblock %}
