{% extends 'base.html.twig' %}

{% block title %}homepage
{% endblock %}

{% block body %}
	<section class="d-flex flex-column align-items-center py-3 bg-img-wood ">
		<img class="profil-image profil-image-border" src="https://media.licdn.com/dms/image/C4D03AQEgxSkEJmko9A/profile-displayphoto-shrink_800_800/0/1537731189034?e=1712793600&v=beta&t=RGMpFAxoa4FPk6e5EZ21AKIyMY9dvZMYltxfT0LZ6Q4" alt="profil picture">
		<div class="text-center">
			<p class="mt-3">
				<strong>VANDERMEERSCH Sylvain</strong>
			</p>
			<p>Le Web Developpeur avec un MMR de folie!</p>
			<i class="fas fa-arrow-right"></i>
			<button type="button">
				<a href="../assets/CV_2024-02-21_Sylvain_Vandermeersch.pdf" target="_blank">CV en PDF</a>
			</button>
		</div>
	</section>

	<section class=" d-flex flex-column py-3 txt-primary-color ">
		<h2 class="text-center">Contact</h2>
		<div class="container contact-form-container">
			{% include 'front/formContact.html.twig' %}
			{# {% include "front/modalSuccessEmail.html.twig" %} #}
			<!-- success modal -->
				{% if emailSent %}
					<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true"> <div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="successModalLabel">E-mail envoyé avec succès</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Votre e-mail a été envoyé avec succès.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="https://www.google.com/recaptcha/api.js"></script>
	<script>
		function onSubmit(token) {
document.getElementById("contact-form").submit();
}
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', (event) => { // Analyser les paramètres d'URL
const urlParams = new URLSearchParams(window.location.search);
if (urlParams.get('emailSent') === 'true') {
var myModal = new bootstrap.Modal(document.getElementById('successModal'), {keyboard: false});
myModal.show();
urlParams.delete('emailSent');
const newUrl = window.location.pathname;
history.pushState({}, '', newUrl);
}
});
	</script>
{% endblock %}
