{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block style %}
	{{ parent() }}
{% endblock %}

{% block navbar %}
  {{ parent()}}
{% endblock %}

{% block body %}
	<main>
		<section class="container">
			<h2>MENTIONS LÉGALES</h2>
			<p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site BlogPHP l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>

			<h3>Edition du site</h3>
			<p>Le présent site, accessible à l’URL www.blogPHPsvdm.fr, est édité par :</p>
			<p>Sylvain Vandermeersch, résidant 88 boulevard des Poilus, de nationalité Française (France), né(e) le 20/05/1994.</p>

			<h3>Hébergement</h3>
			<p>Le Site est hébergé par la société OVH SAS, située 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email : 1007).</p>

			<h3>Directeur de publication</h3>
			<p>Le Directeur de la publication du Site est Sylvain Vandermeersch.</p>

			<h3>Nous contacter</h3>
			<p>Par téléphone : +33668150439<br>
			Par email : contact@svdm.com<br>
			Par courrier : 88 boulevard des Poilus</p>

			<h3>Données personnelles</h3>
			<p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>
		</section>
	</main>
{% endblock %}
