{% extends 'base.html.twig' %}

{% block body %}
    <h1>Succès</h1>
    <ul>
        {% for field, datum in success %}
            <li>{{ datum }}</li>
        {% endfor %}
    </ul>

{% endblock %}
