{# base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BlogSVDM{% endblock %}</title>
    {% block style %}
        {# <link href="../public/css/normalize.css" rel="stylesheet"> #}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
			<link rel="stylesheet" href="/css/index.css">
			{# <link href="/css/meadiaQueries.css" rel="stylesheet"> #}
    {% endblock %}
</head>
<body>
<div class="container">
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">BlogPhp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link" href="/homepage">Accueil</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/articles">Articles</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/admin/articles">Admin Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">À propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              {% if session.user_id %}
                <li class="nav-item">
                    <a class="nav-link" href="/deconnexion">Déconnexion</a>
                </li>
                <li class="nav-item">
                    {{ session.user_email }}
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/connexion">Connexion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/inscription">Inscription</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="#">Roles:
                  {% for role in session.user_role %}
                      {{ role }}{% if not loop.last %}, {% endif %}
                  {% endfor %}
                </a>
              </li>
            </ul>
          </div>
			</nav>
    {% endblock %}

    <div class="container mt-4">
        {% block body %}
        {% endblock %}

        {% block modal %}
        <!-- Bouton pour ouvrir la modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Ouvrir la modal
        </button>

        <!-- Structure de la modal -->
        <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Titre de la modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Contenu de la modal
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Sauvegarder</button>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
    </div>

    {% if session.flash_message %}
      {{ session.flash_message }};
    {% endif %}

    <footer class="mt-4 text-center">
    </footer>
      {% block footer %}{% endblock %}
      <p>&copy; 2023 BlogPhp Sylvain VDM. Tous droits réservés.</p>
    </footer>

    {% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</div>
</html>
